@charset "utf-8";
/* CSS Document */
*{padding:0px; margin:0px;}
.clear{clear:both;}
img{border:none;}
body{font-family: Arial,Helvetica,Georgia,serif; font-size:12px;}
#wrapper{ width:1004px; margin:auto;background: #ffffff;}
#header{background:url('../images/banner_main.jpg') no-repeat;width:1004px;height:137px; }
#search{background:url('../images/banner_side.jpg');color:white;padding:0px 20px 57px 10px;width:150px;height:80px;float:right;}
#search li{list-style:none;}
/*start main navigation*/
#main_nav{height:64px; margin:auto;padding:107px 0px 0px 0px;}
#main_nav ul{ width:1000px; padding: 0px 0px 0px 110px;}
#main_nav li{float:left; display:block; height:10px;text-indent:-99999em;}
#main_nav a{display:block;}
#index { padding:15px 85px 0px 0px;height:15px;background:url('../images/home_tabblack.jpg') no-repeat;}
#index:hover{ padding:15px 85px 0px 0px;height:15px;background:url('../images/home_tabgreen.jpg') no-repeat;}
#about{ padding:15px 85px 0px 0px;height:15px;background:url('../images/aboutus_tabblack.jpg') no-repeat;}
#about:hover{ padding:15px 85px 0px 0px;height:15px;background:url('../images/aboutus_tabgreen.jpg') no-repeat;}
#prog{ padding:15px 100px 0px 0px;height:15px;background:url('../images/progs&projs_tabblack.jpg') no-repeat;}
#prog:hover{ padding:15px 100px 0px 0px;height:15px;background:url('../images/progs&projs_tabgreen.jpg') no-repeat;}
#oppor{ padding:15px 100px 0px 0px;height:15px;background:url('../images/opportunities_tabblack.jpg') no-repeat;}
#oppor:hover{ padding:15px 100px 0px 0px;height:15px;background:url('../images/opportunities_tabgreen.jpg') no-repeat;}
#rpos{ padding:15px 120px 0px 0px;height:15px;background:url('../images/rpo_tabblack.jpg') no-repeat;}
#rpos:hover{ padding:15px 120px 0px 0px;height:15px;background:url('../images/rpo_tabgreen.jpg') no-repeat;}
#links{ padding:15px 85px 0px 0px;height:15px;background:url('../images/links_tabblack.jpg') no-repeat;}
#links:hover{ padding:15px 85px 0px 0px;height:15px;background:url('../images/links_tabgreen.jpg') no-repeat;}
#indexactive{ padding:15px 85px 0px 0px;height:15px;background:url('../images/home_tabgreen.jpg') no-repeat;}
#aboutactive{ padding:15px 85px 0px 0px;height:15px;background:url('../images/aboutus_tabgreen.jpg') no-repeat;}
#progactive{ padding:15px 85px 0px 0px;height:15px;background:url('../images/progs&projs_tabgreen.jpg') no-repeat;}
#opporactive{ padding:15px 85px 0px 0px;height:15px;background:url('../images/opportunities_tabgreen.jpg') no-repeat;}
#rposactive { padding:15px 85px 0px 0px;height:15px;background:url('../images/rpo_tabgreen.jpg') no-repeat;}
#linksactive{ padding:15px 85px 0px 0px;height:15px;background:url('../images/links_tabgreen.jpg') no-repeat;}
/*end main navigation*/
/*start internal links or sublinks*/
#nav {padding:10px 0px 0px 0px;background:url('../images/banner_greenbar.jpg');height: 30px;width: 1004px; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */margin-left:0px;}
#nav a:hover{color:#ffdc3a;}
#nav a{color:#ffffff; font-size: 7pt;text-decoration:none; font-family:Arial,Georgia; font-weight:bold; } 
#nav li{padding:10px 0px 0px 20px;display:inline;}
/*end internal links*/
/*start content*/
#contents li{list-style:none;}
#contents p{font: normal 15px/20px Arial,Georgia,serif;}
/*left content*/
#left{
	float:left;
	width:190px; 
	padding:25px 0px 0px 0px; 
	margin:20px 0px 20px 30px;	
	min-height:500px; 
	
}
#left li{padding:10px; font:bold 19px/30px Arial,Georgia;text-decoration:none;background:#003f0d;
	-moz-box-shadow: 0px 1px 5px #afafaf;
	-webkit-box-shadow: 0px 1px 5px #afafaf;
	box-shadow: 0px 1px 5px #afafaf;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#eec800;margin-bottom:5px;}
#left a {text-decoration:none;}
#left a li{padding:5px; padding-left:20px; margin-bottom:5px; font:bold 14px/23px Arial,Georgia;color:#003f0d; text-decoration:none;background:#ffffff;}
#left a li:hover{font:bold 14px/23px Arial,Georgia;color:#61665f; background:#f1bf00;}
/*end left content*/
/*right content*/
#right{
	float:left; 
	width:670px;
	min-height:385px;
	margin:45px 20px 40px 20px;		
	background:white;
}

#search-holder{
	float:left;
	width:400px;
	min-height:150px;
	margin: 80px 135px 80px 135px;		
	background:white;
}
#search-form{
	float:left;
	width:300px;
	min-height:100px;
	margin:0px 50px 20px 50px;
}
#upper-search{
	float:left;
	width:590px;
	height:100px;
	margin:20px;
	padding:20px;
}
#pub-contents{
	float:left;
	width:590px;
	min-height:400px;
	margin:20px;
	padding:20px;
}
/*end right content*/

/*end content*/

