@charset "utf-8";
/* CSS Document */
a{text-decoration:none; outline: none;}
.headers{color:#ffffff; font: bold 18px/25px Arial,Georgia ;}
.title{font: bold 25px/30px "Century Gothic",Arial,Georgia,serif; color:#063c00;}
#basic-search{
	float:left;
	width:300px;
	height:30px;
	margin:30px 50px 10px 50px;
	text-align:center;
}
#search-title{
	float:left;
	width:500px;
	height:25px;
	text-align:center;
	margin:20px 90px 20px 90px;
}
#adv-form{
	float:left;
	width:400px;
	min-height:200px;
	margin:0px 110px 50px 110px;
	padding:20px;
}
#pub-table{
	margin:0 auto;
}
#pub-table td{
	padding:7px;
}
/*result*/
.left_td{width:140px; background:#f5f4f4;}
.right_td{background:#a5b95e;}
/*search*/
.t_head{background:#003F0D; color:white;}
.t_result{background:#a5b95e;}
.t_result a{text-decoration:none; color:#000000;}
.t_result a:hover{text-decoration:none; color:#fcc80a;}
/*advance search*/
.search-header{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding-right:60px;
}
.advsearch-style{
	list-style-type:none;
	padding-top:7px;
	padding-left:5px;
}
.advsearch-style li{
	display:inline;	
}
#format-holder{
	margin-top:20px;
	padding:10px;
	background-color:#003f0d;
	color:#f3c800;
	float:left;
}
.checkbox-holder{
	list-style-type:none;	
}
.checkbox-holder li{
	display:inline;	
}
.divider-holder{
	float:left;
	width:125px;
	min-height:100px;
}
.divider-holder li{
	display:block;
}
/****pagination****/
/*a.off{background:#47545D; margin-left:2px;padding:0px 5px 0px 5px; color:#D0E087;}
a.on{background:#D0E087; margin-left:2px;padding:0px 5px 0px 5px; color:#47545D;}
*/
/******end********/

/*autosuggest-basic search*/
/* 
	SearchField	
	by Alen Grakalic, brought to you by cssglobe.com
*/
/* default (inactive field) */
.sf_inactive{
	border:2px #fff solid;
	background:#fff;
	color:#000;
}
/* on focus (when field is clicked on)  */
.sf_active{
	border:2px #fff solid;
	background:#fff;
	color:#333;
}
/* with text (when field is inactive but contains user's input)  */
.sf_text{
	border:2px #fff solid;
	background:#fff;
	color:#000;
}

/* suggestions box */
/* js code generates unordered list */
.sf_suggestion{
	position:relative;
}
.sf_suggestion ul{
	position:absolute;
	background:#FFF;
	color:#000;
	margin-left:100px;
}
.sf_suggestion li{
	margin:0;
	padding:0;
	list-style:none;
}
.sf_suggestion li a{
	display:block;
	text-indent:0px;
	color:#000;
}
.sf_suggestion li.selected a{
	background:#a5b95e;
	color:#000;
}
.sf_suggestion li.selected a:hover{
	background:#a5b95e;
	color:#FFF;
}
#searcharg {border:solid 1px #000; height:20px;}
#fsearch a{color:#000;}
#fsearch a:hover{color:#FFF; text-decoration:none;}
/*end*/

/******jquery autocomplete*******/
.ui-autocomplete{background:#a5b95e; width:100px; text-indent:10px;}
.ui-menu-item{color:#000; list-style:none;}
.ui-menu-item:hover{color:#a5b95e;background:#FFF; cursor:pointer;}

/**end**/