/*tab css*/
ul.tabs {
	margin: 30px;
	margin-bottom:0px;
	padding: 0px 0px 0px 184px;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	width: 63%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: 1px solid #999;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	/*position: relative;*/
	background: #92a35f;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #9fb06c;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
/*tab content css*/
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 90%;
	background: #fff;
	margin:30px;
	margin-top:0px;
	
}
.tab_content {
	padding: 20px;
	font-size: 1em;
	text-align:justify;
}
